{# {% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %} #}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/custom.css', { priority: 101, position: 'after'}) %}
    {# {% do assets.addCss('theme://css-compiled/spectre'~compress) %} #}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {# {% do assets.addCss('theme://css-compiled/theme'~compress) %} #}

    {% do assets.addCss('theme://css/line-awesome.min.css') %}

    {# New assets #}

    {% do assets.addCss('theme://assets/bootstrap/css/bootstrap.min.css') %}
    {% do assets.addCss('theme://assets/bootstrap/css/bootstrap-select.min.css') %}
    {% do assets.addCss('theme://assets/bootstrap/css/rvfs.css') %}

    {% do assets.addCss('theme://assets/elagent-icon/style.css') %}
    {% do assets.addCss('theme://assets/font-awesome/css/all.css') %}
    {% do assets.addCss('theme://assets/niceselectpicker/nice-select.css') %}
    {% do assets.addCss('theme://assets/animation/animate.css') %}
    {% do assets.addCss('theme://assets/prism/prism.css') %}
    {% do assets.addCss('theme://assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css') %}
    {% do assets.addCss('theme://assets/css/style.css') %}
    {% do assets.addCss('theme://assets/css/responsive.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}

    {# New assets #}
    {% do assets.addJs('theme://assets/js/jquery-3.2.1.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/js/pre-loader.js', {group:'bottom'}) %}

    {% do assets.addJs('theme://assets/bootstrap/js/popper.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/bootstrap/js/bootstrap.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/bootstrap/js/bootstrap-select.min.js', {group:'bottom'}) %}

    {% do assets.addJs('theme://assets/js/parallaxie.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/js/TweenMax.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/js/anchor.js', {group:'bottom'}) %}

    {% do assets.addJs('theme://assets/wow/wow.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/prism/prism.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/niceselectpicker/jquery.nice-select.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://assets/niceselectpicker/jquery.mCustomScrollbar.concat.min.js', {group:'bottom'}) %}

    {% do assets.addJs('theme://assets/js/main.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top"  data-spy="scroll" data-target="#navbar-example3" data-offset="86" data-scroll-animation="true" class="doc full-width-doc">
{# <body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}"> #}
    <div id="page-wrapper" class="body_wrapper">
        {% block header %}
            {% include 'partials/navbar.html.twig' %}
            {# <section id="header" class="section">
                <section class="container {{ grid_size }}">
                    <nav class="navbar">
                        <section class="navbar-section logo">
                            {% include 'partials/logo.html.twig' %}
                        </section>
                        <section class="navbar-section desktop-menu">

                            <nav class="dropmenu animated">
                            {% block header_navigation %}
                                {% include 'partials/navigation.html.twig' %}
                            {% endblock %}
                            </nav>

                            {% if config.plugins.login.enabled and grav.user.username %}
                                <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                            {% endif %}

                        </section>
                    </nav>
                </section>
            </section> #}
            <div class="mobile-menu">
                <div class="button_container" id="toggle">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
            </div>
        {% endblock %}

        {% block hero %}{% endblock %}

        <section id="start">
        {% block body %}
            <section class="doc_documentation_area doc_documentation_full_area" id="sticky_doc">
                <div class="overlay_bg"></div>
                <div class="container-fluid pl-60 pr-60 {{ grid_size }}">
                    <div class="row">

                        {% include 'partials/left-sidebar.html.twig' %}
                        {# Default has to come here #}
                        {% include 'partials/right-sidebar.html.twig' %}

                        {% block messages %}
                            {% include 'partials/messages.html.twig' ignore missing %}
                        {% endblock %}
                        {{ block('content_surround') }}
                    </div>
                </div>
            </section>
        {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block mobile %}
    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>
    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
