<div class="col-lg-8 col-md-8">
    <div id="post" class="documentation_info">
        {% if not hero_image_name %}
            <div class="content-title text-center">
                {% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
                {% if page.header.subtitle %}
                <h3 >{{ page.header.subtitle }}</h3>
                {% endif %}
                {% include 'partials/blog/date.html.twig' %}
                {% include 'partials/blog/taxonomy.html.twig' %}
            </div>
        {% endif %}
            <div class="e-content">
                {{ page.content|raw }}
            </div>

            {% if page.header.continue_link is same as(true) and config.plugins.comments.enabled %}
                {% include 'partials/comments.html.twig' %}
        {% endif %}
    </div>
</div>

<p class="prev-next text-center">
    {% if not page.isLast %}
            <a class="btn" href="{{ page.prevSibling.url }}"><i class="fa fa-angle-left"></i> {{ 'THEME_QUARK.BLOG.ITEM.PREV_POST'|t }}</a>
    {% endif %}

    {% if not page.isFirst %}
        <a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.ITEM.NEXT_POST'|t }} <i class="fa fa-angle-right"></i></a>
    {% endif %}
</p>

{#
<div class="col-lg-8 col-md-8">
    <div id="post" class="documentation_info">
        <article class="documentation_body" id="documentation">
            <div class="shortcode_title">
                <h1>Getting Started</h1>
                <p><span>Welcome to coreBOS !</span> Get familiar with the Stripe products and explore their features:</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/folder.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Working with Docs</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/envelope.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Formatting Content</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/coding.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Development</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/smartphone.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Mobile App</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/management.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Account Management</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/briefcase.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Shortcodes</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/newspaper.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Productivity</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/side-nav/issuin.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Issuing</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/color-palette.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Introduction</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/side-nav/terminals.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Terminal</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/android.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>Getting Started</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="media documentation_item">
                        <div class="icon">
                            <img src="img/home_one/icon/lock.png" alt="">
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>This Document</h5>
                            </a>
                            <p>He lost his bottle bubble and squeak knackered.!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border_bottom"></div>
        </article>
        <article class="get_started" id="getting">
            <h4 class="c_head load-order-2">Introduction</h4>
            <p>Owt to do with me chinwag get stuffed mate baking cakes blow off vagabond knackered faff about boot a load of old tosh <a href="#">Richard Charles</a>, cor blimey guvnor cheers fantastic butty <a href="#">A bit of how's your father down</a> the pub plastered bugger <a href="#">all mate such a fibber</a> lemon squeezy.</p>
            <a href="#">
                <h4 class="c_head load-order-2">Add payments to your platform</h4>
            </a>
            <p>Don't get shirty with me what a plonker on your bike mate bugger all mate chip shop bits and bobs smashing mush bugger cup of char, in my flat my lady naff bubble and squeak tosser pukka barmy bog the bee's knees, elizabeth dropped a clanger cheesed.</p>
            <h4 class="c_head">Extend Stripe's offerings</h4>
            <p>Naff wellies such a fibber up the duff some dodgy chav sloshed blow off golly gosh <a href="#">jolly good hotpot gutted mate</a>, me old mucker cras mush.</p>
            <div class="link">
                <p>Spiffing good time blimey smashing bevvy hunky-dory cor blimey guvnor elizabeth bite your arm off, bamboozled A bit of how's your father it's all gone to pot bodge.</p>
            </div>
        </article>
        <div class="border_bottom"></div>
        <article class="test_version" id="version">
            <h4 class="c_head">Test coreBOS Version</h4>
            <p>Try the coreBOS API in seconds. Create your first customer, charge, and more by following the steps below.</p>
            <div class="process_tab_shortcode">
                <ul class="nav nav-tabs v_menu" id="myTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="card-tab" data-toggle="tab" href="#card" role="tab" aria-controls="card" aria-selected="true"><span>1</span>Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="false"><span>2</span>Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="charge-tab" data-toggle="tab" href="#charge" role="tab" aria-controls="charge" aria-selected="false"><span>3</span>Charge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sub-tab" data-toggle="tab" href="#sub" role="tab" aria-controls="sub" aria-selected="false"><span>4</span>Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="success-tab" data-toggle="tab" href="#success" role="tab" aria-controls="success" aria-selected="false"><span>5</span>Success!</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContents">
                    <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
                        <p>Twit brilliant he legged it he nicked it amongst hotpot chinwag spend a penny lemon squeezy he lost his bottle porkies, Why it's your round happy days.</p>
                        <div class="version">
                            <div class="v_head">
                                coreBOS run hello-world
                            </div>
                            <div class="v_middle">
                                <p>Unable to find image <span class="red">'hello-world:latest'</span> locally</p>
                                <p>latest: Pulling from library/hello-world</p>
                                <p>ca4f61b1923c: Pull <span class="green">complete</span></p>
                                <p>Digest: sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7</p>
                                <p>Status: Downloaded newer image for hello-world:latest</p>
                            </div>
                            <div class="v_footer">
                                <p>Hello from coreBOS!<br> This message shows that your installation appears to be working correctly. <br>...</p>
                            </div>
                        </div>
                        <p><span>Usage:</span> Click "Submit" to create a token.</p>
                    </div>
                    <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                        <p>Tristique omnis? Hymenaeos montes facilisi magnam facilisi ante voluptates odio nulla exercitationem tincidunt maecenas, dolores mauris praesent placeat</p>
                        <div class="version">
                            <p>Vivamus vero netus tristique venenatis excepteur nisl diamlorem nobis dolorem consequatur repellendus voluptatibus sit voluptas similique taciti pariatur, veniam, consequatur.</p>
                            <p>Maecenas tempore facilis temporibus quas! Eius illo optio, rhoncus expedita doloremque gravida, aptent, pariatur porro</p>
                            <p>Tristique omnis? Hymenaeos montes facilisi magnam facilisi ante voluptates odio nulla exercitationem tincidunt maecenas, dolores mauris praesent placeat</p>
                        </div>
                        <p><span>Usage:</span> Click "Submit" to create a token.</p>
                    </div>
                    <div class="tab-pane fade" id="charge" role="tabpanel" aria-labelledby="charge-tab">
                        <p>Twit brilliant he legged it he nicked it amongst hotpot chinwag spend a penny lemon squeezy he lost his bottle porkies, Why it's your round happy days.</p>
                        <div class="version">
                            <div class="v_head">
                                coreBOS run hello-world
                            </div>
                            <div class="v_middle">
                                <p>Unable to find image <span class="red">'hello-world:latest'</span> locally</p>
                                <p>latest: Pulling from library/hello-world</p>
                                <p>ca4f61b1923c: Pull <span class="green">complete</span></p>
                                <p>Digest: sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7</p>
                                <p>Status: Downloaded newer image for hello-world:latest</p>
                            </div>
                            <div class="v_footer">
                                <p>Hello from coreBOS!<br> This message shows that your installation appears to be working correctly. <br>...</p>
                            </div>
                        </div>
                        <p><span>Usage:</span> Click "Submit" to create a token.</p>
                    </div>
                    <div class="tab-pane fade" id="sub" role="tabpanel" aria-labelledby="sub-tab">
                        <p>Twit brilliant he legged it he nicked it amongst hotpot chinwag spend a penny lemon squeezy he lost his bottle porkies, Why it's your round happy days.</p>
                        <div class="version">
                            <div class="v_head">
                                coreBOS run hello-world
                            </div>
                            <div class="v_middle">
                                <p>Unable to find image <span class="red">'hello-world:latest'</span> locally</p>
                                <p>latest: Pulling from library/hello-world</p>
                                <p>ca4f61b1923c: Pull <span class="green">complete</span></p>
                                <p>Digest: sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7</p>
                                <p>Status: Downloaded newer image for hello-world:latest</p>
                            </div>
                            <div class="v_footer">
                                <p>Hello from coreBOS!<br> This message shows that your installation appears to be working correctly. <br>...</p>
                            </div>
                        </div>
                        <p><span>Usage:</span> Click "Submit" to create a token.</p>
                    </div>
                    <div class="tab-pane fade" id="success" role="tabpanel" aria-labelledby="success-tab">
                        <p>Twit brilliant he legged it he nicked it amongst hotpot chinwag spend a penny lemon squeezy he lost his bottle porkies, Why it's your round happy days.</p>
                        <div class="version">
                            <div class="v_head">
                                coreBOS run hello-world
                            </div>
                            <div class="v_middle">
                                <p>Unable to find image <span class="red">'hello-world:latest'</span> locally</p>
                                <p>latest: Pulling from library/hello-world</p>
                                <p>ca4f61b1923c: Pull <span class="green">complete</span></p>
                                <p>Digest: sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7</p>
                                <p>Status: Downloaded newer image for hello-world:latest</p>
                            </div>
                            <div class="v_footer">
                                <p>Hello from coreBOS!<br> This message shows that your installation appears to be working correctly. <br>...</p>
                            </div>
                        </div>
                        <p><span>Usage:</span> Click "Submit" to create a token.</p>
                    </div>
                    <button class="btn btn-info btn-lg previous"><i class="arrow_carrot-left"></i></button>
                    <button class="btn btn-info btn-lg next"><i class="arrow_carrot-right"></i></button>
                </div>
            </div>
        </article>
        <div class="border_bottom"></div>
        <article class="developer" id="developer">
            <h4 class="c_head">Features</h4>
            <ul class="list-unstyled tag_list">
                <li><i class="icon_document_alt"></i>HTML5 & CSS3</li>
                <li><i class="icon_document_alt"></i>Responsive layout (desktops, tablets, mobile devices)</li>
                <li><i class="icon_document_alt"></i>Built with Bootstrap 4.3</li>
                <li><i class="icon_document_alt"></i>Well structured code</li>
                <li><i class="icon_document_alt"></i>About</li>
                <li><i class="icon_document_alt"></i>Hinted Typography</li>
            </ul>
        </article>
        <div class="border_bottom"></div>
        <article class="code_structure">
            <h4 class="c_head load-order-2">Code Structure</h4>
            <p>HTML, css and javascript files included.</p>
            <div class="row">
                <div class="col-lg-6">
                    <pre class="snippet">
                        <code class="language-html" data-lang="css">
                        doc
                        ├── assets/
                        │   ├── animation/
                        │   ├── bootstrap/
                        │   ├── elagent-icon/
                        │   ├── magnify-pop/
                        │   ├── mcustomscrollbar/
                        │   ├── niceselectpicker/
                        │   ├── prism/
                        │   └── slick/
                        ├── blog-list.html
                        ├── about.html
                        ├── accordion.html
                        ├── alerts.html
                        ├── blog-grid.html
                        ├── blog-list.html
                        ├── blog-single.html
                        ├── blog-grid-two.html
                        ├── changelog.html
                        ├── code.html
                        ├── both-sidebar.html
                        ├── doclist.html
                        ├── images-pointing.html
                        ├── index.html
                        ├── index.html
                        ├── lightbox.html
                        ├── layout-sidebar.html
                        ├── layout-minimal.html
                        ├── layout-sidebar.html
                        ├── notice.html
                        ├── tables.html
                        ├── typography.html
                        └── video.html
                        </code>
                    </pre>
                </div>
                <div class="col-lg-6">
                    <pre class="snippet">
                        <code class="language-html" data-lang="css">
                        assets
                        ├── css/
                        │   ├── bootstrap.css
                        │   ├── bootstrap.min.css
                        │   ├── jquery.mCustomScrollbar.css
                        │   ├── magnific-popup.css
                        │   ├── magnific-popup.min.css
                        │   └── style.css
                        ├── doc/
                        ├── fontawesome/
                        ├── fonts/
                        ├── img/
                        ├── js/
                        ├── slick/
                        └── elagent-icon
                        </code>
                    </pre>
                </div>
            </div>
        </article>
        <article class="help_text" id="help">
            <h4 class="c_head">We're here to help!</h4>
            <div class="help_info">
                <div class="help_item">
                    <a href="#">
                        <h4>Support</h4>
                    </a>
                    <p>Car boot absolutely bladder the full monty ruddy.</p>
                </div>
                <div class="help_item">
                    <a href="#">
                        <h4>Samples <i class="arrow_carrot-right"></i></h4>
                    </a>
                    <p>Car boot absolutely bladder the full monty ruddy.</p>
                </div>
                <div class="help_item">
                    <a href="#">
                        <h4>API Discussion Board</h4>
                    </a>
                    <p>Car boot absolutely bladder the full monty ruddy.</p>
                </div>
            </div>
            <div class="border_bottom"></div>
            <div class="row question_box">
                <div class="col-lg-6">
                    <div class="question_text">
                        <h4>Questions?</h4>
                        <p>Cheeky that bubble and squeak fanny around bleeder hunky-dory daft <a href="#">bonnet brolly victoria</a> sponge show off show off pick your nose and blow off <a href="#">my good sir, cobblers</a> dropped.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="question_text question_text_two">
                        <h4>Sign up for the Developer Digest</h4>
                        <p>Share your email so coreBOS can send you updates about the API and developer platform.</p>
                        <form class="mailchimp signup_form" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control memail" placeholder="Email">
                                <div class="input-group-append">
                                    <button type="submit">Sign Up</button>
                                </div>
                            </div>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                        <p>You can unsubscribe at any time. Read our privacy policy <a href="#">here</a></p>
                    </div>
                </div>
            </div>
            <div class="border_bottom"></div>
            <div class="row feedback_link">
                <div class="col-lg-6">
                    <h6><i class="icon_mail_alt"></i>Still stuck? <a href="#" data-toggle="modal" data-target="#exampleModal2">How can we help?</a></h6>
                </div>
                <div class="col-lg-6">
                    <p>Was this page helpful? <a href="#" class="h_btn">Yes</a><a href="#" class="h_btn">No</a></p>
                </div>
            </div>
        </article>
    </div>
</div> #}
