<div class="col-lg-2 col-md-4 doc_right_mobile_menu">
    <div class="open_icon" id="right">
        <i class="arrow_carrot-left"></i>
        <i class="arrow_carrot-right"></i>
    </div>
    <div class="doc_rightsidebar scroll">

        <div class="doc_switch">
            <label for="something" class="tab-btn tab-btns"><i class="icon_lightbulb_alt"></i></label>
            <input type="checkbox" name="something" id="something" class="tab_switcher">
            <label for="something" class="tab-btn"><i class="far fa-moon"></i></label>
        </div>

        {% macro toc_loop(items) %}
            {% import _self as self %}
            {% for item in items %}
                {% set class = loop.first ? 'first' : loop.last ? 'last' : null %}
                <nav {% if class %}class="{{ class }}"{% endif %} class="list-unstyled doc_menu">
                    <a href="{{ item.uri }}"  class="nav-link">{{ item.label }}</a>
                    {% if item.children|length > 0 %}
                        <nav {% if class %}class="{{ class }}"{% endif %} class="list-unstyled doc_menu">
                            {{ _self.toc_loop(item.children) }}
                        </nav>
                    {% endif %}
                </nav>
            {% endfor %}
        {% endmacro %}
        {% if config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active %}
        <div class="page-toc">
            {% set table_of_contents = toc_items(page.content) %}
            {% if table_of_contents is not empty %}
                <h6>On this page:</h6>
                <nav {% if class %}class="{{ class }}"{% endif %} class="list-unstyled doc_menu">
                    {{ _self.toc_loop(table_of_contents.children) }}
                </nav>
            {% endif %}
        </div>
{#
        <nav class="list-unstyled doc_menu" >
            <a href="#documentation" class="nav-link active">Documentation</a>
            <a href="#getting" class="nav-link">Getting started</a>
            <a href="#version" class="nav-link">Test coreBOS Version</a>
            <a href="#developer" class="nav-link">Not a developer?</a>
            <a href="#help" class="nav-link">We're here to help!</a>
        </nav> #}
        {% endif %}
    </div>
</div>
