<div class="col-lg-2 col-md-4 doc_right_mobile_menu" id="sticky_doc">
    <div class="open_icon" id="right">
        <i class="arrow_carrot-left"></i>
        <i class="arrow_carrot-right"></i>
    </div>
    <div class="doc_rightsidebar scroll">
        <style>
        .page-toc > li > a{
            font-weight: 700 !important
        }
        .active_class {
            background-color: #5794a1;
            color: #ffffff;
            border-radius: 10px;
            padding: 10px;
        }
        </style>
        {% macro toc_loop(items) %}
            {% import _self as self %}
            {% for item in items %}
                {% set class = loop.first ? 'first ' : loop.last ? 'last' : null %}
                <li {% if class %}class="{{ class }}{{active}}  list-unstyled doc_menu "{% endif %}>
                    <a href="{{ item.uri }}"  class="nav-link">{{ item.label }}</a>
                    {% if item.children|length > 0 %}
                        <ul style="padding-left: 20px;">
                            {{ _self.toc_loop(item.children) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endmacro %}

        {% if config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active %}
        <div class="page-toc">
            {% set table_of_contents = toc_items(page.content) %}
            {% if table_of_contents is not empty %}
                <h4>Table of Contents</h4>
                <ul class="page-toc list-unstyled doc_menu ">
                    {{ _self.toc_loop(table_of_contents.children) }}
                </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
