{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    <li class="nav-item {{ active_page }}">
      <a href="{{ p.url }}" class="nav-link">
        {{ p.menu }}
      </a>
      {% if p.children.visible.count > 0 %}
        <span class="icon"><i class="arrow_carrot-down"></i></span>

        <ul class="list-unstyled dropdown_nav">
        {% for child in p.children.visible %}
            <li class="{{ active_page }}">
                <a href="{{ child.url }}">
                    {{ child.menu }}
                </a>
            </li>
        {% endfor %}
        </ul>

      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}
